<template>
  <div class="page">
    <div class="admin">
      <h2>Usuários</h2>
      <el-form>
        <el-row :gutter="40">
          <el-col :xs="24" :sm="10" :md="8">
            <el-form-item label="Username">
              <el-input
                placeholder="Insira o username"
                v-model="username"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="10" :md="8">
            <el-form-item label="Email">
              <el-input
                placeholder="Insira o email do usuário"
                v-model="email"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="10" :md="8">
            <el-form-item label="Tipo de Usuário">
              <br />
              <el-select v-model="user_type" placeholder="Selecione" clearable>
                <el-option
                  v-for="type in user_type_options"
                  :key="type.value"
                  :label="type.label"
                  :value="type.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-button type="primary" @click="findUsers()">Buscar</el-button>
        </el-row>
      </el-form>
    </div>

    <br />
    <el-table :data="data.items" class="users-table">
      <el-table-column prop="username" label="Username" width="180">
      </el-table-column>
      <el-table-column prop="email" label="Email"> </el-table-column>
      <el-table-column prop="user_type" label="Tipo de Usuário">
      </el-table-column>
      <el-table-column fixed="right" label="Operações" width="120">
        <template v-slot="scope">
          <el-button @click="itemDetails(scope.row)" type="text" size="small"
            >Detalhar</el-button
          >
          <el-button @click="deleteUser(scope.row)" type="text" size="small"
            >Deletar</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :page-size="data.page_size"
      layout="prev, pager, next"
      :total="data.count"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
  </div>
</template>

<script>
import { searchUsers, deleteUser } from "../../../services/user";
export default {
  data() {
    return {
      current_page: 1,
      email: "",
      username: "",
      user_type: "",
      data: {},
      user_type_options: [
        { value: "user", label: "Usuário" },
        { value: "moderator", label: "Moderador" },
        { value: "admin", label: "Administrador" },
      ],
    };
  },
  methods: {
    handleCurrentChange(val) {
      this.current_page = val;
      this.findUsers();
    },
    findUsers() {
      const params = {};
      if (this.current_page) {
        params.page = this.current_page;
      }
      if (this.username) {
        params.username = this.username;
      }
      if (this.email) {
        params.email = this.email;
      }
      if (this.user_type) {
        params.user_type = this.user_type;
      }
      searchUsers(params).then((response) => {
        this.data = response.data;
      });
    },
    itemDetails(arg) {
      this.$router.push(`/admin/users/${arg._id.$oid}`);
    },
    async deleteUser(book) {
      const should_delete = await this.$confirm(
        "Essa é uma operação definitiva. Tem certeza que deseja continuar?",
        "Atenção",
        {
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          type: "warning",
        }
      );
      if (should_delete) {
        const response = await deleteUser(book._id.$oid);
        if (response.status === 204) {
          this.$message.success("Usuário deletado com sucesso!");
          this.findUsers();
        }
      }
    },
  },
  created() {
    this.findUsers();
  },
};
</script>

<style scoped>
.admin {
  margin-left: 30px;
  margin-right: 30px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple-light {
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.page {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.users-table {
  width: 100%;
}
</style>
