<template>
  <div class="page">
    <div class="admin">
      <h2>Categorias</h2>
      <el-form>
        <el-row :gutter="40">
          <el-col :xs="24" :sm="10" :md="8">
            <el-form-item label="Categoria">
              <el-input
                placeholder="Insira a categoria"
                v-model="value"
                clearable
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-row>
        <el-button type="primary" @click="findTags()">Buscar</el-button>
        <el-button @click="$router.push('/admin/tags/create')">Criar</el-button>
      </el-row>
    </div>
    <br />
    <el-table :data="data.items">
      <el-table-column prop="value" label="Categoria"> </el-table-column>
      <el-table-column fixed="right" label="Operações" width="180px">
        <template v-slot="scope">
          <el-button @click="itemDetails(scope.row)" type="text" size="small"
            >Detalhar</el-button
          >
          <el-button @click="deleteTag(scope.row)" type="text" size="small"
            >Deletar</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :page-size="data.page_size"
      layout="prev, pager, next"
      :total="data.count"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
  </div>
</template>

<script>
import { searchTags, deleteTag } from "../../../services/tags";
export default {
  data() {
    return {
      current_page: 1,
      value: "",
      data: {},
    };
  },
  methods: {
    handleCurrentChange(val) {
      this.current_page = val;
      this.findTags();
    },
    findTags() {
      const params = {
        paginate: true,
      };
      if (this.current_page) {
        params.page = this.current_page;
      }
      if (this.value) {
        params.value = this.value;
      }
      searchTags(params).then((response) => {
        this.data = response.data;
      });
    },
    itemDetails(arg) {
      this.$router.push(`/admin/tags/${arg._id.$oid}`);
    },
    async deleteTag(book) {
      const should_delete = await this.$confirm(
        "Essa é uma operação definitiva. Tem certeza que deseja continuar?",
        "Atenção",
        {
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          type: "warning",
        }
      );
      if (should_delete) {
        const response = await deleteTag(book._id.$oid);
        if (response.status === 204) {
          this.$message.success("Categoria deletada com sucesso!");
          this.findTags();
        }
      }
    },
  },
  created() {
    this.findTags();
  },
};
</script>

<style scoped>
.admin {
  margin-left: 30px;
  margin-right: 30px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.page {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
