<template>
  <div class="logo-header">
    <div id="logo">
      <img src="../assets/logo.png" alt="Logo" />
      <span>Portal Aberto InterPsi USP</span>
    </div>
  </div>
</template>
<style scoped>
img {
  border: none;
}
span {
  color: #303133;
  font-size: 20px;
}

#logo img {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
</style>
