<template>
  <Header />
  <router-view />
</template>

<script>
import Header from "./partials/Header.vue";
export default {
  name: "App",
  components: {
    Header: Header,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
html {
  font-family: "Lato", sans-serif;
}
</style>
